*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 1800px;
}
.home{
    width: 100%;
    height: auto;
}
.home .nav{
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 3px solid orangered;
}
.home .nav ul{
    list-style-type: none;
}
.home .nav ul li{
float: right;
margin:  10px 15px;
padding: 10px;
transition: all 1s;
border-radius: 10px;

}
.home .nav ul .jetro{
    float: left;
    margin: 5px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    }
    
.home .nav ul li a{
    text-decoration: none;
    color: rgb(112, 105, 105);
    
}

.home .nav ul li .item1{
    color: orangered;
}

.home .nav ul li .ITEM2{
    font-size: 30px;
    color: orangered;
}.home .nav ul li .ITEM3{
    font-size: 30px;
    color:#DC9383;
}
.home .nav2 {
    width: 100%;
    height: 400px;
    background-image: url(img/photo_2022-04-18_18-01-03.jpg);
    background-size: 100% 100%;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.container .imgs img{
width: 100%;
}
        .container2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}
.container2 .content{
    width: 30%;
    height: auto;    
margin: 20px;
}
.container2  .content .topcontent{
    width: 100%;
    height: 20%;
}
.container2 .content .topcontent ul{
    list-style-type: none;
}
.container2 .content .topcontent ul li{
    float: left;
    margin: 5px 5px;
}

.container2 .content .topcontent ul li img{
    width: 60px;
    height: 60px;
    margin: 5px 0px;
}
.container2 .content .topcontent ul li h1{
    font-size: 29px;
    color:rgb(238, 11, 11); ;
}
.container2  .content .downcontent{
    width: 100%;
    height: 80%;
    padding: 40px 2px;
}
.container2  .content .downcontent p{
    margin:5px;
}
.container2  .content .downcontent button{
    background-color: rgb(238, 11, 11);
    color: white;
    width: 30%;
    padding: 5px;
    margin-left: 5px;
    font-weight: 700;
}


.line{
    font-weight: 700;
    color: orangered;
    position: relative;
}
.line::after{
    content: "";
    width: 81%;
    height: 22px;
    position: absolute;
    background-color: rgb(163, 157, 157);
    top: 22%;
    left: 20%;
}
.pictures{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pictures .photo img{
    width: 100%;

}
.pictures .photo h1{
font-size: 20px;
font-weight: 800;
color: grey;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 10px 5px;
}
.pictures .photo p{
font-size: 16px;
color:rgb(255, 69, 0) ;
font-weight: 700;
margin: 10px 5px;

}
.footer{
    width: 100%;
    background-color: rgb(201, 78, 34);
    color: white;
    display: flex;
    justify-content: space-around;
}
.footer .footerchild{
    width: 28%;
    margin: 25px 0px;
}
.footer .footerchild h1{
    font-size: 25px;
    font-weight: 300;
    margin: 40px 0px;
}
.footer .footerchild p{
    font-size: 18px;
}
.footer .footerchild img{
    width: 70%;
    height: 50px;
    margin: 20px 80px;
}
@media(max-width:950px){
    body{
        width: 950px;
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        flex-wrap: wrap;
    }
    .container .imgs {
margin: 15px 0px;
    width: 30%;
    }
    
    .home .nav2 {
        width: 950px;
    }
    .line{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .line::after{
        width: 78%;
        height: 20px;
        top: 18%;
        left: 22%;
    }
    .pictures .photo {
        width: 22%;
    
    }
    .footer .endnav img{
        width: 70%;
        height: 50px;
        margin: 20px 0px;
        margin-left: 30px;
    }
    
    
    
}
@media(max-width:750px){
    body{
        width: 750px;
    }
    .home .nav2 {
        width: 750px;
    }
    .line{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .line::after{
        width: 72%;
        height: 20px;
        top: 18%;
        left: 28%;
    }
    .pictures  {
        flex-wrap: wrap;           
     }
                    
      .pictures .photo {
        width: 45%;
                        
       }
        
    
}
    @media(max-width:600px){
        body{
            width: 600px;
        }
        .home .nav2 {
            width: 100%;
        }
        
        .home .nav ul li{
            margin:  5px 5px;
            
            }
            .home .nav ul .jetro{
                float: left;
                margin: 0px 10px;
                }
            
                .container{
flex-wrap: wrap;     
justify-content: space-around;
}
                .container .imgs {
                width: 90%;
                }
                .highlight{
                    flex-wrap: wrap;
                }
                .highlight .content{
                    width: 90%;
                }
                .contaner{
                    flex-wrap: wrap;
                }
                .contaner .item{
                    width: 90%;
                }
                .line{
                    font-size: 25px;
                    margin-bottom: 20px;
                }
                .line::after{
                    width: 65%;
                    height: 20px;
                    top: 18%;
                    left: 35%;
                }
                .pictures  {
flex-wrap: wrap;                
                }
            
                .pictures .photo {
                    width: 90%;
                
                }
            
            
                .footer .footerchild h1{
                    font-size: 18px;
                    font-weight: 300;
                    margin: 25px 0px;
                }
                .footer .footerchild p{
                    font-size: 12px;
                }
                .footer .footerchild img{
                    width: 70%;
                    height: 30px;
                    margin: 10px 0px;
                    margin-left: 20px;
                }
                .paracontain{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                
                }
                .paracontain .para{
                    width: 90%;
                    height: auto;    
                margin: 5px;
                }
                .paracontain  .para .downpara{
                    padding: 70px 2px;
                }
                
                .paracontain .para .toppara ul li{
                    float: left;
                    margin: 5px 0px;
                    margin-right: 40px;
                }
                     
                .footer{
                    flex-direction: column;
                }
                .footer .footerchild{
                    width: 90%;
                }
                      
    }




